parameters:
	treatPhpDocTypesAsCertain: false
	checkGenericClassInNonGenericObjectType: false

	ignoreErrors:
		- '#^Property Contributte\\Aop\\Pointcut\\Matcher\\FilterMatcher\:\:\$filter \(Contributte\\Aop\\Pointcut\\Filter\) does not accept object\.$#'
		- '#^If condition is always false\.$#'

includes:
#	- vendor/phpstan/phpstan-deprecation-rules/rules.neon
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon
#	- vendor/phpstan/phpstan-strict-rules/rules.neon
