aspects:
	- Tests\Files\Aspects\AroundAspect
	- Tests\Files\Aspects\BeforeAspect
	- Tests\Files\Aspects\AfterAspect
	- Tests\Files\Aspects\AfterReturningAspect
	- Tests\Files\Aspects\AfterThrowingAspect

services:
	- Tests\Files\Aspects\CommonService
