aspects:
	- Tests\Files\Aspects\AroundAspect
	- Tests\Files\Aspects\SecondAroundAspect
	- Tests\Files\Aspects\BeforeAspect
	- Tests\Files\Aspects\SecondBeforeAspect
	- Tests\Files\Aspects\AfterAspect
	- Tests\Files\Aspects\SecondAfterAspect
	- Tests\Files\Aspects\AfterReturningAspect
	- Tests\Files\Aspects\SecondAfterReturningAspect
	- Tests\Files\Aspects\AfterThrowingAspect
	- Tests\Files\Aspects\SecondAfterThrowingAspect

services:
	- Tests\Files\Aspects\CommonService
