aspects:
	a:
		class: Tests\Files\Aspects\AspectWithArguments

	b:
		class: Tests\Files\Aspects\AspectWithArguments(@httpRequest)

	- Tests\Files\Aspects\AspectWithArguments

	- Tests\Files\Aspects\AspectWithArguments(@httpRequest)
